# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
/MatrixManipulations/*.VC.*
/MatrixManipulations/MaxRandomMatrix/x86/*
/MatrixManipulations/MaxRandomMatrix/x64/*
/MatrixManipulations/SumRandomMatrix/x86/*
/MatrixManipulations/SumRandomMatrix/x64/*
/MatrixManipulations/x64
/MatrixManipulations/x86